<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">

  <!-- 
  Debug logging can be enabled by uncommenting the following line. Possible values for this variable are 
  'debug' or 'release'.
  -->
  <variable name="buildConfiguration" value="release"/>

  <extensions>
    <add assembly="TC.MetaTrader"/>
  </extensions>
  
  <targets>
    <!-- File target for development -->
    <target xsi:type="File" name="FileLog" fileName="${var:basedir}\TC.MetaTrader.dll.log" maxArchiveFiles="4" archiveEvery="Day" />
    
    <!-- Metatrader target. Sends log entries to registered MetaTrader indicators -->
    <target type="MetatraderLog" name="MetatraderLog"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="MetatraderLog" />
    <logger name="*" minlevel="Trace" writeTo="FileLog">
      <filters>
        <!-- Filter out logs to this target when the buildConfiguration variable is set to 'release' or not defined -->
        <when condition="equals('${var:buildConfiguration}', 'release')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>
